# Local .terraform directories
env.sh
h.env.sh
tdoc.sh
**/env.sh
**/h.env.sh
**/tdoc.sh
.terraform.lock.hcl
*/**.terraform.lock.hcl
**/.terraform.lock.hcl
**/**/.terraform.lock.hcl
**/**/**/.terraform.lock.hcl
**/.terraform/*
**/**/.terraform/*
**/**/**/.terraform/*
*.tfstate
*.tfstate.*
**/*.tfstate
**/*.tfstate.*
**/**/*.tfstate
**/**/**/*.tfstate
**/**/*.tfstate.*
**/**/**/*.tfstate.*
tfplan
**/tfplan
**/**/tfplan
**/**/**/tfplan
crash.log
crash.*.log
**/crash.log
**/crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
**/.terraformrc
**/**/.terraformrc
**/**/**/.terraformrc
**/terraform.rc
**/**/terraform.rc
**/**/**/terraform.rc
###
**/tmp/*
**/**/tmp/*
**/**/**/tmp/*
*.swp
**/*.swp
**/**/*.swp
**/**/**/*.swp
*.log
*log
**/**/*.log
**/**/**/*.log
**/**/log
pint.*.*
**/pint.*.*
.idea
*.csv
