config:
  inputs: |
    [INPUT]
        Name   tail
        Path   /var/log/containers/*.log
        Tag               kube.*
        multiline.parser              docker, cri
        Mem_Buf_Limit       50MB
        Refresh_Interval    5
        Rotate_Wait         30
        Exclude_Path        /var/log/containers/graylog-0_graylog_graylog-server*, /var/log/containers/fluent-bit*, /var/log/containers/graylog-mongodb*, /var/log/containers/postgresql-*, /var/log/containers/mongodb*, /var/log/containers/mongo*, /var/log/containers/everest-csi-driver*, /var/log/containers/icagent-*
        Skip_Long_Lines     On
    [INPUT]
        Name              tail
        Tag               kubelet
        Path              /var/log/cce/kubernetes/kubelet.log
        multiline.parser              docker, cri 
        Mem_Buf_Limit     50MB
        Skip_Long_Lines   On
        Refresh_Interval  5
        Rotate_Wait         30
  filters: |
    [FILTER]
        Name           kubernetes
        Match          kube.*
        Kube_Tag_Prefix     kube.var.log.containers.
        Kube_URL            https://kubernetes.default.svc.cluster.local:443
        Kube_CA_File        /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        Kube_Token_File     /var/run/secrets/kubernetes.io/serviceaccount/token
        Merge_Log           On
        Merge_Log_Key       log_processed
        Keep_Log            Off
        K8S-Logging.Parser  On
        K8S-Logging.Exclude Off
        Labels              On
        Annotations         Off
        Buffer_Size         0
        Use_Kubelet         On
        Kubelet_Host        ${KUBELET_HOST} 
        Kubelet_Port        10250
        tls.verify          Off
    [FILTER]
        Name                kubernetes
        Match               kubelet, kube.*
        Kube_Tag_Prefix     kube.var.log.containers.
        Kube_URL            https://kubernetes.default.svc.cluster.local:443
        Kube_CA_File        /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        Kube_Token_File     /var/run/secrets/kubernetes.io/serviceaccount/token
        Merge_Log           On
        Merge_Log_Key       log_processed
        Keep_Log            Off
        K8S-Logging.Parser  On
        K8S-Logging.Exclude Off
        Labels              On
        Annotations         Off
        Buffer_Size         0
        Use_Kubelet         On
        Kubelet_Host        ${KUBELET_HOST}
        Kubelet_Port        10250
        tls.verify          Off
    [FILTER]
        Name                nest
        Match               kube.*
        Operation           lift
        Nested_under        kubernetes
        Add_prefix          kubernetes_
    [FILTER]
        Name                modify
        Match               kube.*
        Rename              kubernetes_namespace_name namespace
        Rename              kubernetes_pod_name pod
        Rename              kubernetes_container_image image
        Rename              kubernetes_container_name container_name
  outputs: |
    [OUTPUT]
        Name                    gelf
        Match                   *
        Host                    graylog.graylog.svc.cluster.local
        Port                    12201
        Mode                    tcp
        Gelf_Short_Message_Key  log
  parsers.conf: |
    [PARSER]
        Name   nginx
        Format regex
        Regex ^(?<remote>[^ ]*) (?<host>[^ ]*) (?<user>[^ ]*) \[(?<time>[^\]]*)\] "(?<method>\S+)(?: +(?<path>[^\"]*?)(?: +\S*)?)?" (?<code>[^ ]*) (?<size>[^ ]*)(?: "(?<referer>[^\"]*)" "(?<agent>[^\"]*)")?$
        Time_Key time
        Time_Format %d/%b/%Y:%H:%M:%S %z
    [PARSER]
        Name   json
        Format json
        Time_Key time
        Time_Format %d/%b/%Y:%H:%M:%S %z
    [PARSER]
        Name        docker
        Format      json
        Time_Key    time
        Time_Format %Y-%m-%dT%H:%M:%S.%L
        Time_Keep   On
    [PARSER]
        Name                container_firstline
        Format              regex
        Regex               (?<log>(?<="log":")\S(?!\.).*?)(?<!\\)".*(?<stream>(?<="stream":").*?)".*(?<time>\d{4}-\d{1,2}-\d{1,2}T\d{2}:\d{2}:\d{2}\.\w*).*(?=})
        Time_Key            time
        Time_Format         %Y-%m-%dT%H:%M:%S.%LZ
    [PARSER]
        Name        kubelet
        Format      regex
        Regex       ^(?<time>[^ ]* [^ ,]*)[^\[]*\[[^\]]*\]\s*(?<message>.*)$
        Time_Key    time
        Time_Format %Y-%m-%d %H:%M:%S    
   

daemonSet:
  enabled: true
namespace: graylog
serviceAccount:
  create: true
resources:
  limits:
    cpu: 100m
    memory: 100Mi
  requests:
    cpu: 100m
    memory: 90Mi
metrics:
  enabled: false
  serviceMonitor:
    enabled: false

#hostNetwork: true
#nsPolicy: ClusterFirstWithHostNet      

serviceAccount:
  create: true
  annotations: {}
  name:

rbac:
  create: true
  nodeAccess: true
  eventsAccess: true
      
image:
  repository: cr.fluentbit.io/fluent/fluent-bit
  tag: latest
  pullPolicy: Always

env:
  - name: KUBELET_HOST
    valueFrom:
      fieldRef:
        fieldPath: status.hostIP  
   

daemonSetVolumes:
  - name: varlog
    hostPath:
      path: /var/log
      type: ""  
  - name: podslog
    hostPath:
      path: /var/log/pods
      type: ""
  - name: varlibdockercontainers
    hostPath:
      path: /var/lib/docker/containers
      type: ""  
  - name: etcmachineid
    hostPath:
      path: /etc/machine-id
      type: File

daemonSetVolumeMounts:
  - name: varlog
    mountPath: /var/log
    readOnly: true  
  - name: varlibdockercontainers
    mountPath: /var/lib/docker/containers
    readOnly: true
  - name: etcmachineid
    mountPath: /etc/machine-id
    readOnly: true
  - name: podslog
    mountPath: /var/log/pods
    readOnly: true    
