groups:
  - name: ingress-target-stats
    rules:
      # 1. Target Response Time (P95 Latency)
      # Logic: Calculates the 95th percentile of request duration per service over 5 minutes.
      # Equivalent to AWS ALB "Target Response Time".
      #- alert: NginxTargetResponseTimeHigh
      #  expr: histogram_quantile(0.95, sum by (le, namespace, host) (rate(nginx_ingress_controller_request_duration_seconds_bucket{host!="_"}[5m]))) > 0.3
      #  for: 2m
      #  labels:
      #    severity: warning
      #    type: backend_stats
      #  annotations:
      #    summary: "High Latency: {{ $labels.namespace }}/{{ $labels.host }}"
      #    description: "{{ $labels.host }} The P95 response time is {{ $value | humanizeDuration }} over the last 5 minutes (threshold: >300ms)."

      - alert: NginxTargetResponseTimeHigh2000
        expr: |
          histogram_quantile(
               0.95,sum(rate
               (
               nginx_ingress_controller_request_duration_seconds_bucket{
               host=~"thoth.monolith.demo.wellnessliving.com|web.thoth.monolith.staging.wellnessliving.com|debug.staging.wellnessliving.com"}[5m]
               )
          ) by(le,namespace,host)) > 2
        for: 2m
        labels:
          severity: warning
          type: backend_stats
        annotations:
          summary: "High Latency: {{ $labels.namespace }}/{{ $labels.host }}"
          description: "{{ $labels.host }} The P95 response time is {{ $value | humanizeDuration }} over the last 5 minutes (threshold: >2000ms)."

      - alert: NginxTargetResponseTimeHigh200
        expr: |
          histogram_quantile(
               0.95,sum(rate
               (
               nginx_ingress_controller_request_duration_seconds_bucket{
               host=~"staging.wellnessliving.com|thoth.downpage.staging.wellnessliving.com"}[5m]
               )
          ) by(le,namespace,host)) > 0.2
        for: 2m
        labels:
          severity: warning
          type: backend_stats
        annotations:
          summary: "High Latency: {{ $labels.namespace }}/{{ $labels.host }}"
          description: "{{ $labels.host }} The P95 response time is {{ $value | humanizeDuration }} over the last 5 minutes (threshold: >200ms)."

      - alert: NginxTargetResponseTimeHigh600
        expr: |
          histogram_quantile(
               0.95,sum(rate
               (
               nginx_ingress_controller_request_duration_seconds_bucket{
               host=~"dev-drive.ms.thoth.wellnessliving.com"}[5m]
               )
          ) by(le,namespace,host)) > 0.6
        for: 2m
        labels:
          severity: warning
          type: backend_stats
        annotations:
          summary: "High Latency: {{ $labels.namespace }}/{{ $labels.host }}"
          description: "{{ $labels.host }} The P95 response time is {{ $value | humanizeDuration }} over the last 5 minutes (threshold: >600ms)."

      - alert: NginxTargetResponseTimeHigh900
        expr: |
          histogram_quantile(
               0.95,sum(rate
               (
               nginx_ingress_controller_request_duration_seconds_bucket{
               host=~"debug.demo.wellnessliving.com"}[5m]
               )
          ) by(le,namespace,host)) > 0.9
        for: 2m
        labels:
          severity: warning
          type: backend_stats
        annotations:
          summary: "High Latency: {{ $labels.namespace }}/{{ $labels.host }}"
          description: "{{ $labels.host }} The P95 response time is {{ $value | humanizeDuration }} over the last 5 minutes (threshold: >900ms)."

      # 2. Total Requests (Traffic Volume)
      # Logic: Counts the total number of requests sent to a specific service over 5 minutes.
      # Equivalent to AWS ALB "Request Count".
      - alert: NginxTargetRequestCount
        expr: sum by (namespace, host) (increase(nginx_ingress_controller_requests{host!="_"}[5m])) > 25000
        for: 2m
        labels:
          severity: warning
          type: backend_stats
        annotations:
          summary: "Traffic Volume: {{ $labels.namespace }}/{{ $labels.host }}"
          description: "{{ $labels.host }} processed {{ $value | humanize }} requests in the last 5 minutes."

      # 3. Target Connection Errors (502/504)
      # Logic: Counts 502 (Bad Gateway) and 504 (Gateway Timeout) errors.
      # These specific codes usually indicate the Ingress cannot connect to the Pod.
      # Equivalent to AWS ALB "Target Connection Errors".
      - alert: NginxTargetConnectionErrors5xx
        expr: sum by (namespace, host) (increase(nginx_ingress_controller_requests{host!="_",status=~"5.."}[5m])) > 50
        for: 0m
        labels:
          severity: critical
          type: backend_stats
        annotations:
          summary: "Connection Failed: {{ $labels.namespace }}/{{ $labels.host }}"
          description: "Detected {{ $value }} connection errors (5xx) in the last 5 minutes {{ $labels.host }}."

      # Logic: Counts 4xx errors.
      - alert: NginxTargetConnectionErrors4xx
        expr: sum by (namespace, host) (increase(nginx_ingress_controller_requests{host!="_",status=~"4.."}[5m])) > 50
        for: 0m
        labels:
          severity: critical
          type: backend_stats
        annotations:
          summary: "Connection Failed: {{ $labels.namespace }}/{{ $labels.host }}"
          description: "Detected {{ $value }} connection errors (4xx) in the last 5 minutes {{ $labels.host }}."


